.favoritesContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.emptyFavorites {
    font-size: 22px;
    text-align: center;
}

.homeRef {
    color: blue;
    text-decoration: none;
}

.homeRef:hover {
    text-decoration: underline;
}