.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.header {
    font-size: 32px;
    text-align: center;
}

.favoritesContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.emptyFavorites {
    font-size: 22px;
    text-align: center;
}

.homeRef {
    color: blue;
    text-decoration: none;
}

.homeRef:hover {
    text-decoration: underline;
}