.container {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    margin-top: 20px;
    background: #fff;
}

.text {
    margin-top: 10px;
}

.selectedCityHeader {
    margin-top: 40px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.likeButton {
    position: absolute;
    right: -20px;
}

.forecastsContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}